@using SocialNetwork.ViewModels;
@model StoryCreateEditViewModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    @using (Html.BeginForm("Create", "Story", FormMethod.Post, new { @class = "form-create col-md-6" }))
    {
        @Html.LabelFor(x => x.Title, new {@class="create-label" })
        @Html.TextBoxFor(m => m.Title, new { @class = "create-input", required = "required" });
        @Html.LabelFor(x => x.Description, new { @class = "create-label" })
        @Html.TextBoxFor(m => m.Description, new { @class = "create-input", required = "required" });
        @Html.LabelFor(x => x.Content, new { @class = "create-label" })
        @Html.TextBoxFor(m => m.Content, new { @class = "create-input", required = "required" });
        @Html.DropDownListFor(m => m.GroupId, new SelectList(Model.Groups, "Id", "Name", 1), "---Select group---", new { @class = "create-select", required = "required" });
        <input class="submit-button" type="submit" value="Save" class="submit" />
    }
</div>